[submodule "packages/eliza-core"]
	path = packages/eliza-core
	url = https://github.com/ai16z/eliza.git
[submodule "packages/eliza-stable"]
	path = packages/eliza-stable
	url = https://github.com/ai16z/eliza.git
